<!-- <h4 class="form-heading">Distributor Registration</h4> -->
<div><img src="../../assets/img/illustrations/img3.png" class="img-fluid" width="100%"></div>
<ng-container *ngIf="!distList">
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="container-fluid mt-2  cstmw  p-2 ">
   
  <div  class="mb-4 " style="    width: 28%;
  float: left;
  margin-right: 2%;
  padding: 1% 1% 0 2%;
  border-right: dashed 1px #ccc;">
    <div class=" ">
      <div class="row mb-3 ">
        <div class="col-md-12 ">
          <label for="userName" class="form-label">Distributor Org:</label>
          <input id="userName" formControlName="companyName" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched}" />
          <div *ngIf="registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched" class="invalid-feedback">
            Company name is required .
          </div>
        </div>
    <!-- <div class="row mb-3"> -->
      <div class="col-md-12">
        <label for="userName" class="form-label">PAN :</label>
        <input id="userName" formControlName="pannum" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('pannum')?.invalid && registrationForm.get('pannum')?.touched}" />
        <div *ngIf="registrationForm.get('pannum')?.invalid && registrationForm.get('pannum')?.touched" class="invalid-feedback">
          PAN is required .
        </div>
      </div>
      <div class="col-md-12">
        <label for="password" class="form-label">GST:</label>
        <input id="password" formControlName="gstin" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('gstin')?.invalid && registrationForm.get('gstin')?.touched}" />
        <div *ngIf="registrationForm.get('gstin')?.invalid && registrationForm.get('gstin')?.touched" class="invalid-feedback">
          GST is required .
        </div>
      </div>
    <!-- </div>  -->
  </div>
    </div>
    

</div>
<div class="border p-3 mb-3 bg-light">
  <h5 class="mb-3"> 
  <span class="text-muted fw-light ps-3">Contact </span> Information </h5>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="first_name" class="form-label">First Name:</label>
      <input id="first_name" formControlName="first_name" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('first_name')?.invalid && registrationForm.get('first_name')?.touched}" />
      <div *ngIf="registrationForm.get('first_name')?.invalid && registrationForm.get('first_name')?.touched" class="invalid-feedback">
        First name is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="last_name" class="form-label">Last Name:</label>
      <input id="last_name" formControlName="last_name" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('last_name')?.invalid && registrationForm.get('last_name')?.touched}" />
      <div *ngIf="registrationForm.get('last_name')?.invalid && registrationForm.get('last_name')?.touched" class="invalid-feedback">
        Last name is required.
      </div>
    </div>
  </div>

  

  <div class="row mb-3 mt-1">
    <div class="col-md-6">
      <label for="email" class="form-label">Email:</label>
      <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}" />
      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>
    <div class="col-md-6">
      <label for="mobile" class="form-label">Mobile Number:</label>
      <input id="mobile" formControlName="mobile" type="tel" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('mobile')?.invalid && registrationForm.get('mobile')?.touched}" />
      <div *ngIf="registrationForm.get('mobile')?.invalid && registrationForm.get('mobile')?.touched" class="invalid-feedback">
        Mobile number is required and must be 10 digits.
      </div>
    </div>
  </div>
 </div>
  <!-- Address Information Section  -->
  <div formGroupName="addressReq" class="mb-2 border p-3 bg-light">
   
    <h5 class="mb-3"> 
      <span class="text-muted fw-light">Address </span> Information </h5>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="short_name" class="form-label">Short Name:</label>
        <input id="short_name" formControlName="short_name" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label for="line1" class="form-label">Line 1:</label>
        <input id="line1" formControlName="line1" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.line1')?.invalid && registrationForm.get('addressReq.line1')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.line1')?.invalid && registrationForm.get('addressReq.line1')?.touched" class="invalid-feedback">
          Line 1 is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="line2" class="form-label">Line 2:</label>
        <input id="line2" formControlName="line2" type="text" class="form-control" />
      </div>
    </div>
    
    <!-- <div class="row mb-3"> -->
      <!-- <div class="col-md-4">
        <label for="line3" class="form-label">Line 3:</label>
        <input id="line3" formControlName="line3" type="text" class="form-control" />
      </div> -->
      <!-- <div class="col-md-4">
        <label for="geo_tag" class="form-label">Geo Tag:</label>
        <input id="geo_tag" formControlName="geo_tag" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label for="journey_id" class="form-label">Journey ID:</label>
        <input id="journey_id" formControlName="journey_id" type="number" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.journey_id')?.invalid && registrationForm.get('addressReq.journey_id')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.journey_id')?.invalid && registrationForm.get('addressReq.journey_id')?.touched" class="invalid-feedback">
          Journey ID must be a valid number.
        </div>
      </div> -->
    <!-- </div> -->

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="country" class="form-label">Country:</label>
        <select id="country" formControlName="country" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.country')?.invalid && registrationForm.get('addressReq.country')?.touched}"  (ngModelChange)="selectState($event)">
          <option value="">Select Country</option>
          <option *ngFor="let option of country?.data" [value]="option.countryCode">{{ option.countryName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.country')?.invalid && registrationForm.get('addressReq.country')?.touched" class="invalid-feedback">
          Country is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="state_name" class="form-label">State:</label>
        <select id="state_name" formControlName="state_name" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.state_name')?.invalid && registrationForm.get('addressReq.state_name')?.touched}" (ngModelChange)="selectCity($event)">
          <option value="">Select State</option>
          <option *ngFor="let option of state?.data" [value]="option.id">{{ option.stateName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.state_name')?.invalid && registrationForm.get('addressReq.state_name')?.touched" class="invalid-feedback">
          State is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="city" class="form-label">City:</label>
        <select id="city" formControlName="city" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.city')?.invalid && registrationForm.get('addressReq.city')?.touched}" (ngModelChange)="selectLocality($event)">
          <option value="">Select City</option>
          <option *ngFor="let city of cities" [value]="city.id">{{ city.cityName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.city')?.invalid && registrationForm.get('addressReq.city')?.touched" class="invalid-feedback">
          City is required.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="localityId" class="form-label">Locality:</label>
        <select id="localityId" formControlName="localityId" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.localityId')?.invalid && registrationForm.get('addressReq.localityId')?.touched}">
          <option value="">Select Locality</option>
          <option *ngFor="let loc of locality" [value]="loc.localityId">{{ loc.localityName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.localityId')?.invalid && registrationForm.get('addressReq.localityId')?.touched" class="invalid-feedback">
          Locality is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="address" class="form-label">Address:</label>
        <input id="address" formControlName="address" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.address')?.invalid && registrationForm.get('addressReq.address')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.address')?.invalid && registrationForm.get('addressReq.address')?.touched" class="invalid-feedback">
          Address is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="pin_code" class="form-label">PIN Code:</label>
        <input id="pin_code" formControlName="pin_code" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.pin_code')?.invalid && registrationForm.get('addressReq.pin_code')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.pin_code')?.invalid && registrationForm.get('addressReq.pin_code')?.touched" class="invalid-feedback">
          PIN code is required and must be 6 digits.
        </div>
      </div>
    </div>

    <!-- <div class="row mb-3">
      <div class="col-md-3" style="width: 200px;">
        <label for="is_verified" class="form-label" style="width: 100px;">Is Verified:</label>
        <input id="is_verified" formControlName="is_verified" type="checkbox" class="form-check-input" style="width: 20px;"/>
      </div>
      <div class="col-md-3"  style="width: 200px;">
        <label for="is_default" class="form-label" style="width: 100px;">Is Default:</label>
        <input id="is_default" formControlName="is_default" type="checkbox" class="form-check-input"  style="width: 20px;"/>
      </div>
    </div> -->
  </div>

  <button type="submit" class="btn btn-dark" style="width: 150px;
  background: #19bc9b;
  border: #19bc9b 1px;">Register</button>
</form>
</ng-container>

<ng-container *ngIf="distList">
<form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="container-fluid mt-2 p-4 border rounded shadow-sm" >
  <h4 class="fw-bold py-3 mb-4 text-center">
    <span class="text-muted fw-light">Registration </span> Distributor
  </h4>
  <div  class="mb-4">
    
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="userName" class="form-label">Distributor Org:</label>
        <input id="userName" formControlName="companyName" [(ngModel)]="selecteduser.companyName" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched}" />
        <div *ngIf="registrationForm.get('companyName')?.invalid && registrationForm.get('companyName')?.touched" class="invalid-feedback">
          Company name is required .
        </div>
      </div>
  <!-- <div class="row mb-3"> -->
    <div class="col-md-4">
      <label for="userName" class="form-label">PAN :</label>
      <input id="userName" formControlName="pannum" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('pannum')?.invalid && registrationForm.get('pannum')?.touched}" />
      <div *ngIf="registrationForm.get('pannum')?.invalid && registrationForm.get('pannum')?.touched" class="invalid-feedback">
        PAN is required .
      </div>
    </div>
    <div class="col-md-4">
      <label for="password" class="form-label">GST:</label>
      <input id="password" formControlName="gstin" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('gstin')?.invalid && registrationForm.get('gstin')?.touched}" />
      <div *ngIf="registrationForm.get('gstin')?.invalid && registrationForm.get('gstin')?.touched" class="invalid-feedback">
        GST is required .
      </div>
    </div>
  <!-- </div>  -->
</div>

</div>
<div class="border p-3 mb-3">
  <h5 class="mb-3"> 
  <span class="text-muted fw-light">Contact </span> Information </h5>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="first_name" class="form-label">First Name:</label>
      <input id="first_name" formControlName="first_name" type="text" class="form-control" [(ngModel)]="selecteduser.first_name" [ngClass]="{'is-invalid': registrationForm.get('first_name')?.invalid && registrationForm.get('first_name')?.touched}" />
      <div *ngIf="registrationForm.get('first_name')?.invalid && registrationForm.get('first_name')?.touched" class="invalid-feedback">
        First name is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="last_name" class="form-label">Last Name:</label>
      <input id="last_name" formControlName="last_name" type="text" class="form-control" [(ngModel)]="selecteduser.last_name" [ngClass]="{'is-invalid': registrationForm.get('last_name')?.invalid && registrationForm.get('last_name')?.touched}" />
      <div *ngIf="registrationForm.get('last_name')?.invalid && registrationForm.get('last_name')?.touched" class="invalid-feedback">
        Last name is required.
      </div>
    </div>
  </div>

  

  <div class="row mb-3 mt-1">
    <div class="col-md-6">
      <label for="email" class="form-label">Email:</label>
      <input id="email" formControlName="email" type="email" class="form-control" [(ngModel)]="selecteduser.email" [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}" />
      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>
    <div class="col-md-6">
      <label for="mobile" class="form-label">Mobile Number:</label>
      <input id="mobile" formControlName="mobile" type="tel" class="form-control" [(ngModel)]="selecteduser.mobile" [ngClass]="{'is-invalid': registrationForm.get('mobile')?.invalid && registrationForm.get('mobile')?.touched}" />
      <div *ngIf="registrationForm.get('mobile')?.invalid && registrationForm.get('mobile')?.touched" class="invalid-feedback">
        Mobile number is required and must be 10 digits.
      </div>
    </div>
  </div>
 </div>
  <!-- Address Information Section  -->
  <div formGroupName="addressReq" class="mb-2 border p-3">
   
    <h5 class="mb-3"> 
      <span class="text-muted fw-light">Address </span> Information </h5>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="short_name" class="form-label">Short Name:</label>
        <input id="short_name" formControlName="short_name" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label for="line1" class="form-label">Line 1:</label>
        <input id="line1" formControlName="line1" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.line1')?.invalid && registrationForm.get('addressReq.line1')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.line1')?.invalid && registrationForm.get('addressReq.line1')?.touched" class="invalid-feedback">
          Line 1 is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="line2" class="form-label">Line 2:</label>
        <input id="line2" formControlName="line2" type="text" class="form-control" />
      </div>
    </div>
    
    <!-- <div class="row mb-3"> -->
      <!-- <div class="col-md-4">
        <label for="line3" class="form-label">Line 3:</label>
        <input id="line3" formControlName="line3" type="text" class="form-control" />
      </div> -->
      <!-- <div class="col-md-4">
        <label for="geo_tag" class="form-label">Geo Tag:</label>
        <input id="geo_tag" formControlName="geo_tag" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label for="journey_id" class="form-label">Journey ID:</label>
        <input id="journey_id" formControlName="journey_id" type="number" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.journey_id')?.invalid && registrationForm.get('addressReq.journey_id')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.journey_id')?.invalid && registrationForm.get('addressReq.journey_id')?.touched" class="invalid-feedback">
          Journey ID must be a valid number.
        </div>
      </div> -->
    <!-- </div> -->

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="country" class="form-label">Country:</label>
        <select id="country" formControlName="country" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.country')?.invalid && registrationForm.get('addressReq.country')?.touched}"  (ngModelChange)="selectState($event)">
          <option value="">Select Country</option>
          <option *ngFor="let option of country?.data" [value]="option.countryCode">{{ option.countryName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.country')?.invalid && registrationForm.get('addressReq.country')?.touched" class="invalid-feedback">
          Country is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="state_name" class="form-label">State:</label>
        <select id="state_name" formControlName="state_name" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.state_name')?.invalid && registrationForm.get('addressReq.state_name')?.touched}" (ngModelChange)="selectCity($event)">
          <option value="">Select State</option>
          <option *ngFor="let option of state?.data" [value]="option.id">{{ option.stateName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.state_name')?.invalid && registrationForm.get('addressReq.state_name')?.touched" class="invalid-feedback">
          State is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="city" class="form-label">City:</label>
        <select id="city" formControlName="city" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.city')?.invalid && registrationForm.get('addressReq.city')?.touched}" (ngModelChange)="selectLocality($event)">
          <option value="">Select City</option>
          <option *ngFor="let city of cities" [value]="city.id">{{ city.cityName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.city')?.invalid && registrationForm.get('addressReq.city')?.touched" class="invalid-feedback">
          City is required.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="localityId" class="form-label">Locality:</label>
        <select id="localityId" formControlName="localityId" class="form-select" [ngClass]="{'is-invalid': registrationForm.get('addressReq.localityId')?.invalid && registrationForm.get('addressReq.localityId')?.touched}">
          <option value="">Select Locality</option>
          <option *ngFor="let loc of locality" [value]="loc.localityId">{{ loc.localityName }}</option>
        </select>
        <div *ngIf="registrationForm.get('addressReq.localityId')?.invalid && registrationForm.get('addressReq.localityId')?.touched" class="invalid-feedback">
          Locality is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="address" class="form-label">Address:</label>
        <input id="address" formControlName="address" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.address')?.invalid && registrationForm.get('addressReq.address')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.address')?.invalid && registrationForm.get('addressReq.address')?.touched" class="invalid-feedback">
          Address is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="pin_code" class="form-label">PIN Code:</label>
        <input id="pin_code" formControlName="pin_code" type="text" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('addressReq.pin_code')?.invalid && registrationForm.get('addressReq.pin_code')?.touched}" />
        <div *ngIf="registrationForm.get('addressReq.pin_code')?.invalid && registrationForm.get('addressReq.pin_code')?.touched" class="invalid-feedback">
          PIN code is required and must be 6 digits.
        </div>
      </div>
    </div>

    <!-- <div class="row mb-3">
      <div class="col-md-3" style="width: 200px;">
        <label for="is_verified" class="form-label" style="width: 100px;">Is Verified:</label>
        <input id="is_verified" formControlName="is_verified" type="checkbox" class="form-check-input" style="width: 20px;"/>
      </div>
      <div class="col-md-3"  style="width: 200px;">
        <label for="is_default" class="form-label" style="width: 100px;">Is Default:</label>
        <input id="is_default" formControlName="is_default" type="checkbox" class="form-check-input"  style="width: 20px;"/>
      </div>
    </div> -->
  </div>

  <button type="submit" class="btn btn-dark" style="width: 150px;">Register</button>
</form>
</ng-container>